body{
	font-family: 'Quicksand', sans-serif;
	color: #394c5f;
}

.titolo{
	text-align: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.display{
	font-size: 3rem
}

.listaFotografie{
	list-style-type: none;
}

.thumbnail{
	border-radius: 8px;
	border: 1px solid;
	padding: 2px;
	border-color: #394c5f;
}

img{
	border-radius: 8px;
	width: 330px;
	height: 202.671px;
}

.dati{
	text-align: center;
}