body{
    color: #394c5f;
    font-family:'Quicksand', sans-serif;
}
.login{
    border-radius: 10%;
    border: 0.4rem solid #394c5f;
    padding: 3rem;

}
.rettangolo{
    width: 90%;
    margin-left: 10%;
    margin-top: 20%;
}
.btn-primary{
    background-color: #394c5f;
    border-color: #394c5f
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    margin-top: 0.495rem;
}
.testoLogo{
    font-size: 7rem;
    margin-top:4%;
    margin-left: 10%;
}

.log{
	border-color: #394c5f;
}

.log:hover{
    background-color: #394c5f;
    color: ghostwhite;
}