<!DOCTYPE html>
<html lang="en"  
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html" >
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Errore</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" href="/css/navBar.css" rel="stylesheet">
  <link type="text/css" href="/css/error.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navigation navbar navbar-expand-lg navbar-dark py-2">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="homePage nav-link" href="/">Home  |</a>
              </li>
            <li class="photographersPage nav-item active">
                <a class="nav-link" href="/fotografi">Fotografi</a>
              </li>
              <li class="albumsPage nav-item active">
                <a class="nav-link" href="/albums">Albums</a>
              </li>
              <li class="photosPage nav-item active">
                <a class="nav-link" href="/foto">Foto</a>
              </li>
              <li class="photosPage nav-item active" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/operazioni">Operazioni</a>
              </li>
              
            </ul>
            <ul class="navbar-nav ml-auto">
                <li>
                  <form th:action="@{/cercaFoto}" method="get" class="form-inline my-2 my-lg-0">
                    <input name="ricerca" class="form-control mr-sm-2" type="search" placeholder="Cerca" aria-label="Search">
                    <button class="btn border-light text-light my-2 my-sm-0" type="submit">Cerca</button>
                  </form>
                </li>
                <li class="nav-item active" sec:authorize="isAuthenticated()"><a
					class="logout nav-link ml-5" th:href="@{/logout}">LOGOUT</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon mr-1"></span>
					</button></li>
				<li class="nav-item active" sec:authorize="isAnonymous()"><a
					class="logout nav-link ml-5" th:href="@{/login}">LOGIN</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon mr-1"></span>
					</button></li>
            </ul>
        </div>
    </nav>
	<div class="testo">
	<h2>Ops, questa Pagina non esiste! Torna alla Home</h2>
	</div>
</body>
</html>