<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link type="text/css" href="/css/navBar.css" rel="stylesheet" />
<link type="text/css" href="/css/home.css" rel="stylesheet" />

<link
	href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
	rel="stylesheet">

</head>
<body>

	<!-- Navigation -->
	<nav class="navigation navbar navbar-expand-lg navbar-dark py-2">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="homePage nav-link"
					href="#">Home |</a></li>
				<li class="photographersPage nav-item active"><a
					class="nav-link" href="/fotografi">Photographers</a></li>
				<li class="albumsPage nav-item active"><a class="nav-link"
					href="/albums">Albums</a></li>
				<li class="photosPage nav-item active"><a class="nav-link"
					href="/fotografie">Photos</a></li>
				<li sec:authorize="isAuthenticated()"
					class="photosPage nav-item active"><a class="nav-link"
					href="/operazioni">Operazioni</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search"
							placeholder="Search" aria-label="Search">
						<button class="btn border-light text-light my-2 my-sm-0"
							type="submit">Search</button>
					</form>
				</li>
				<li class="nav-item active" sec:authorize="isAnonymous()"><a
					class="login nav-link ml-5" th:href="@{/login}">LOGIN</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon mr-1"></span>
					</button></li>
				<li class="nav-item active" sec:authorize="isAuthenticated()"><a
					class="logout nav-link ml-5" th:href="@{/logout}">LOGOUT</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon mr-1"></span>
					</button></li>
			</ul>
		</div>
	</nav>

	<main role="main"> <!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
			<h1 class="logo display-3">SILPH Spa</h1>
			<p>Azienda leader nel settore di richiesta foto da noi puoi
				trovare il meglio del meglio</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/creaRichiesta"
					role="button">Create a request &raquo;</a>
			</p>
		</div>
	</div>

	<div class="box container" id="bottomContainer">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>Fotografi</h2>
				<p>I migliori fotografi sono nostri partner. Scopri nuovi
					fotografi e tieniti aggiornato sulle nuove foto dei tuoi preferiti
				</p>
				<p>
					<a class="btn btn-secondary" href="/fotografi" role="button">Vedi
						dettagli &raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Albums</h2>
				<p>Scegli tra i migliori album fotografici le foto che più ti
					interessano e richiedile.</p>
				<p>
					<a class="albums btn btn-secondary" href="/albums" role="button">Vedi
						dettagli &raquo;</a>
				</p>
			</div>
			<div class="col-md-4">
				<h2>Fotografie</h2>
				<p>Cerca tra tutte le fotografie quelle che più ti piacciono e
					interessano e richiedile alla nostra azienda</p>
				<p>
					<a class="btn btn-secondary" href="/fotografie" role="button">Vedi
						dettagli &raquo;</a>
				</p>
			</div>
		</div>

		<hr>

	</div>
	<!-- /container --> </main>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="../../../../assets/js/vendor/popper.min.js"></script>
	<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
<!-- /.container -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</body>
</html>