<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html">
<head>
<title>Requests</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href="/css/navBar.css" rel="stylesheet"/>
    <link type="text/css" href="/css/listaRichieste.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  </head>
</head>
<body>
	<nav class="navigation navbar navbar-expand-lg navbar-dark py-2">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="homePage nav-link" href="/">Home |</a>
        </li>
        <li class="photographersPage nav-item active">
          <a class="nav-link" href="/fotografi">Photographers</a>
        </li>
        <li class="albumsPage nav-item active">
          <a class="nav-link" href="/albums">Albums</a>
        </li>
        <li class="photosPage nav-item active">
          <a class="nav-link" href="/foto">Photos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item active" sec:authorize="isAuthenticated()"><a
					class="logout nav-link ml-5" th:href="@{/logout}">LOGOUT</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon mr-1"></span>
					</button>
		</li>
      </ul>
    </div>
  </nav>
    <div class="container">
    	<div class="row">
    		<div class="col-md-auto">
    		<div class="title">
    			<h4 class="titolo">Richieste Non Gestite</h4>
    		</div>
    			<div class="list-group">
			<ul class="requestList" style-type="none">
  				<li class="lst" th:each="richiesta : ${richieste}">
  					<a th:if="${not richiesta.gestita}" th:href="@{'/richiesta' + '/' + ${richiesta.id}}" class="custom btn">
  					<div>
  					<span 
  					 th:text="'Id:' + ' ' + ${richiesta.id}">placeholder
  					</span>
  					</div>
  					<div>
  						<span th:text="'Cliente: ' + ${richiesta.emailCliente}">placeholder</span>
  					</div>
  					</a>
  				</li>
  			</ul>
		</div>
		</div>
			<div class="col-md-auto">
    		<div class="title">
    			<h4 class="titolo">Richieste Gestite</h4>
    		</div>
    			<div class="list-group">
			<ul class="requestList" style-type="none">
  				<li class="lst" th:each="richiesta : ${richieste}">
  					<a th:if="${richiesta.gestita}"  th:href="@{'/richiesta' + '/' + ${richiesta.id}}" class="custom btn">
  					<div>
  					<span 
  					 th:text="'Id:' + ' ' + ${richiesta.id}">placeholder
  					</span>
  					</div>
  					<div>
  						<span th:text="'Cliente: ' + ${richiesta.emailCliente}">placeholder</span>
  					</div>
  					</a>
  				</li>
  			</ul>
		</div>
		</div>
		</div>
	</div>
</body>
</html>