<!DOCTYPE html>
<html lang="en"  
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html">
<head>
<title>Inserisci Fotografo</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Nuovo album</title>
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" href="/css/nuovoAlbum.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="title row">
			<div class="first container">
				<h1 class="display">Aggiungi un nuovo Album</h1>
			</div>
		</div>
		<div class="corpo row">
			<form class="richiesta" th:action="@{/inserisciAlbum}" th:object="${album}"
				method="post" enctype="multipart/form-data">
				<div class = "sfoglia form-row">
					<div>
						<input class="cerca btn" type="file" accept="image/*" name="image" required/>
					</div>
				</div>
				<div class="nome form-row">
					<div>
						<label for="nome">Nome:</label>
						<input maxlength="25" class="form-control" id="nome" type="text" th:field="*{nome}" required>
					</div>
				</div>
				<div class="desc form-row">
					<div class="testo1 form-group">
						<label for="exampleFormControlTextarea1">Descrizione</label>
    					<textarea maxlength="25" placeholder="Inserisci una descrizione (max 25 caratteri)" th:field="*{descrizione}" class="form-control input-lg" id="exampleFormControlTextarea1" rows="3" required></textarea>
    					</div>
    			</div>
    			<div>
    				<p th:if="${nonInserito}">Compila i campi</p>
    			</div>
    			<div class="bottoni form-row">
					<button class="avanti btn" type="submit">Invio</button>
					<a class="indietro btn" href="/operazioni">Indietro</a>
				</div>
				<input type="hidden" name="fotografo" th:value="${fotografo_id}">
			</form>	
		</div>
	</div>
</body>
</html>