<!doctype html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link type="text/css" href="css/navBar.css" rel="stylesheet" />
<link type="text/css" href="css/dipendente.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
	rel="stylesheet">
</head>
<body>
	<nav class="navigation navbar navbar-expand-lg navbar-dark py-2">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="homePage nav-link" href="/">Home  |</a>
          </li>
        <li class="photographersPage nav-item active">
            <a class="nav-link" href="/fotografi">Photographers</a>
          </li>
          <li class="albumsPage nav-item active">
            <a class="nav-link" href="/albums">Albums</a>
          </li>
          <li class="photosPage nav-item active">
            <a class="nav-link" href="/foto">Photos</a>
          </li>
        </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active" sec:authorize="isAuthenticated()"><a
					class="logout nav-link ml-5" th:href="@{/logout}">LOGOUT</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarResponsive" aria-controls="navbarResponsive"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon mr-1"></span>
					</button></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="riga0 row">
			<div class="col">
				<div class="titolo service-heading-block">
					<h2 class="title">
						Benvenuto, <span th:text="${username}">place</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="riga1 row">
			<div class="col">
				<div class="text-center feature-block">
					<a href="/scegliFotografo" class="custom btn">Aggiungi un Album</a>
				</div>
			</div>

			<div class="col">
				<div class="text-center feature-block">
					<a href="/nuovoFotografo" class="custom btn">Aggiungi Fotografo</a>
				</div>
			</div>
		</div>
		<div class="riga2 row">
			<div class="col">
				<div class="text-center">
					<a href="/scegliAlbum" class="custom btn">Aggiungi una Foto</a>
				</div>
			</div>

			<div class="col">
				<div class="text-center feature-block">
					<a th:href="@{/listaRichieste}" class="custom btn">Visualizza
						Richieste</a>
				</div>
			</div>
		</div>
		<div class="row">
			<p class="messaggio" th:if="${inserito}">Inserimento corretto</p>
		</div>
	</div>
</body>
</html>