<!doctype html>
<html lang="en"  
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href="css/navBar.css" rel="stylesheet" />
    <link type="text/css" href="css/fotografi.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet"><link type="text/css" media="all" rel="stylesheet" th:href="@{/css/index.css}" href="/css/index.css" >
  
  </head>
  <body>
	<div class="contenitorefotografi container">
		<div class="titolo">
			<h4 class="display">Seleziona il fotografo a cui aggiungere l'album</h4>
		</div>
    		<ul class="listaFotografi row">
         	   <li th:each="fotografo : ${fotografi}" class="col-md-4">
         	   		<div class="thumbnail">
         	   		<a th:href="'/nuovoAlbum/fotografo/' + ${fotografo.id}" class="btn">
            			<img th:src="@{'/fotografoImage' + '/' + ${fotografo.id}}">
            		</a>
            		<div class="dati">
            		<h1  th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}">placeholder</h1>
            		</div>
            		</div>
            	</li>
        	</ul>
   </div>
  </body>
</html>